*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.navbar{
    background-color: white;
}

.navbar img{
    width: 60px;
    padding-left: 10px;
}

.nav-link{
    color: black;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
}

.nav-link:hover{
    color: white;
    background-color: #2DA0FA;
}

.navbar-brand{
    font-size: 1.25rem;
    font-weight: 800;
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.main{
    background-image: url('/images/cresy.png');
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding-top: 100px;
}

.main span{
    color: #2DA0FA;
}
.main h3{
    font-size: 3rem;
    font-weight: 500;

}

.main h1{
    font-size: 5rem;
    font-weight: 500;
}

.main  .bt1{
    height: 60px;
    width: 160px;
    background-color: #2DA0FA;
    color: white;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 50px;
}



.main  .bt1:hover{
    background-color: #1a73b7;
    transition: 0.5s
}

.main p{
    font-size: 1rem;
}


.about img{
    box-shadow: 13px 10px 14px -7px rgba(0,0,0,0.75);
-webkit-box-shadow: 13px 10px 14px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 13px 10px 14px -7px rgba(0,0,0,0.75);
}

h1{
   font-size: 3rem;
    font-weight: 900;
}

.about .title{
    color: #2DA0FA;
    font-weight: 700;
}
.progress{
    background-color: rgb(238, 232, 237);
    justify-content: flex-start;
    border-radius: 50px;
    align-items: center;
    position: relative;
    display: flex;
    height: 25px;
    width: 100%;
}

.pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: #FAB3B7;
    height: 25px;
    width: 0;
}

.pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: #FAB3B7;
    height: 25px;
    width: 0;
}

.pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: #FAB3B7;
    height: 25px;
    width: 0;
}

.pro-value4 {
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: #FAB3B7;
    height: 25px;
    width: 0;
}



.progress p{
    color: black;
    padding-top: 4px;
    padding-left: 8px;
}

@keyframes load1{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}

@keyframes load2{
    0%{
        width: 0;
    }
    100%{
        width: 65%;
    }
}

@keyframes load3{
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}
@keyframes load4 {
    0% {
        width: 0;
    }

    100% {
        width: 30%;
    }
}



.btn2{
    height: 40px;
    width: 145px;
    border-color: #2DA0FA;
    background-color: white;
    border-radius: 20px;
}

.btn2:hover{
    background-color: #2DA0FA;
    color: white;
    transition: 0.3s;
}

.portfolio .card{
    border: none;
    outline: none;
    box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.34);
-webkit-box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.34);
-moz-box-shadow: 5px 5px 14px 0px rgba(0,0,0,0.34);
}

.portfolio .card p{
    color: gray;
}
.portfolio img{
    height: 300px;
}

.portfolio .font-weight-bold.pb-2 {
    text-decoration: underline;
    text-decoration-color: #FAB3B7;
  }


.carousel-control-prev,
.carousel-control-next {
  color: #fff; 
}


.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}


.education .card{
    border: none;
    border-left: 3px solid #FAB3B7;
    width: 538px;
    height: 297.6px;
    border-radius: 0;
}

.education .card p{
    color: gray;
}

.education .card h5{
    color: #2DA0FA;
}

.interests .card{
    border: none;
}

.interests img{
    width: 120px;
}

.interests h4{
    color:#2DA0FA;
}
.custom-cont-fluid {
    padding-left: 0;
}
